* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #b1ccc5;
            font-family: "Open Sans", sans-serif;
;
        }

        header {
            font-family: "Open Sans", sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 5%;
            background-color: #b1ccc5;
            position: sticky;
            top: 0;
            z-index: 998;
        }

        .logo {
            width: 10rem;
            height: auto;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 1.5rem;
        }

        .nav-links li {
            display: inline-block;
            margin: 0 15px;
        }

        .nav-links li a {
            text-decoration: none;
            font-size: 1.25rem;
            color: #2b2b4f;
            transition: color 0.3s ease;
        }

        .nav-links li a:hover {
            color: #121a22;
        }

        .nav-links li a button {
            padding: 0.5rem 1.2rem;
            background-color: #98bdbb;
            border: none;
            border-radius: 6px;
            font-size: 1.25rem;
            color: #E7F2EF;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .nav-links li a button:hover {
            background-color: #698382;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.6);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease;
            z-index: 999; /* below the box */
        }

        .buyBox {
            top: 50%;
            left: 50%;
            width: clamp(300px, 80vw, 650px); 
            height: clamp(400px, 60vh, 750px);
            transform: translate(-50%, -50%);
            text-align: center;
            background-color: #484881;
            color: white;
            border: none;
            border-radius: 16px;
            padding: 10px;
            position: fixed;
            box-shadow: 0px 4px 12px black;
            z-index: 1000; /*overkill?*/
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .buyBox.show, .overlay.show {
            visibility: visible;
            opacity: 1;
        }

        .buyBox p {
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 4%;
        }

        .buyBox form p {
            font-weight: 250;
            font-size: 20px;
            padding-right: 10%;
            line-height: 1.5;
            color: #E7F2EF;
        }

        .buyBox form input {
            padding: 8px;
            width: clamp(200px, 60%, 400px);
            border-radius: 6px;
            border: none;
        }

        .buyBox form select {
            padding: 8px;
            width: 74%;
            border-radius: 6px;
            border: none;
        }

        .buttonz {
            display: flex;
            justify-content: space-between;
        }

        .buttonz button {
            padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 4vw, 2rem);
            background-color: #19183B;
            border: none;
            border-radius: 10px;
            font-size: 20px;
            color: #E7F2EF;
            cursor: pointer;
        }

        #pay {
            background-color: #19183B;
            font-weight: 600;
            transform: scale(1);
            transition: background-color 0.5s ease, transform 0.4s ease;
        }

        #pay:hover {
            background-color: #3d3b74;
            transform: scale(1.1);
        }

        #pay:active {
            background-color: #59a570;
            transform: scale(1.3);
        }

        #cancel {
            background-color: #3b1818;
            font-weight: 600;
        }


        h1 {
            font-weight: bold;
            font-size: 3.6rem;
            text-align: center;
            margin-bottom: 5%;
            color: #2b2b4f;
        }

        .productList {
            display: flex;
            justify-content: space-between;
            padding: 2%;
        }

        .productList h2 {
            font-weight: bold;
            font-size: 3rem;
            color: #2b2b4f;
        }

        .productList button {
            padding: 0 1%;
            border: none;
            border-radius: 22px;
            background-color: #2b2b4f;
            color: white;
            font-weight: lighter;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.4s ease;
        }

        .productList button:hover {
            background-color: #1a1a30;
        }

        .line {
            width: 100%;
            height: 12px;
        }

        .carousel {
            position: relative;
            margin: auto;
            overflow: hidden;
        }

        .carousel-track {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel img {
            width: clamp(280px, 30vw, 500px);
            flex-shrink: 0;
            padding: 3%;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
        }

        .carousel img:hover {
            transform: scale(1.1);
        }

        .carousel button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0,0,0,0.6);
            color: white;
            font-weight: bolder;
            font-size: 1.4rem;
            border: none;
            border-radius: 32px;
            padding: 1.3rem;
            cursor: pointer;
            z-index: 1;
        }

        .prev { 
            left: 0; 
            font-weight: bold;
            margin: 1%;
        }

        .next { 
            right: 0; 
            font-weight: bold;
            margin: 1%;
        }


        /*When button is pressed for view all, the classes in the bottom are reserved for that*/

        .carousel.grid-view .carousel-track {
            transform: none !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .carousel.grid-view img {
            padding: 3%
        }

        .carousel.grid-view button {
            display: none;
        }

        .navBottom {
            text-align: center;
        }

        .navBottom li {
            display: inline-block;
            padding: 1% 1.2rem;
            font-size: 1.6rem;
            color: #2b2b4f;
        }

        .footer-top {
            background-color: #2b2b4f;
            color: white;
            display: flex;
            justify-content: center;
            gap: 230px;
            padding: 1.5rem 5%;
        }

        .contact {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }

        .contact-top {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .contact img {
            width: 1.8rem;
            height: 1.8rem;
        }

        .contact .label {
            font-weight: bold;
            font-size: 16px;
        }

        .phoneNumber, .email {
            margin-left: 2.5rem;
            font-size: 0.9rem;
        }

        .footer-bottom {
            font-family: "Open Sans", sans-serif;
            background-color: #19183B;
            color: white;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 2rem 1rem;
        }

        .f-AboutUs {
            border-right: 2px solid white;
            padding-right: 1rem;
        }

        .f-AboutUs h2 {
            margin-bottom: 1rem;
        }

        .f-OnlineServices {
            padding: 0 2rem;
        }

        .f-OnlineServices h2 {
            margin-bottom: 1rem;
        }

        .f-OnlineServices ul {
            list-style: none;
        }

        /*Im gonna be fr, making a website responsive, is so much trial and error (in my opinion)*/
        @media (max-width: 1024px) {
            h1 {
                font-size: 2.6rem;
            }

            .carousel {
                overflow: hidden;
                padding: 0 1rem;
            }

            .carousel-track img {
                width: clamp(150px, 40vw, 220px);
            }

            .carousel button {
                font-size: 1rem;
                padding: 0.7rem; /*smoll buttons for smoll screens*/
            }

            .prev, .next {
                font-size: 1.5rem;
            }
        }

        @media (max-width: 600px) {
            header {
                flex-direction: column;
                gap: 10px;
                padding: 12px;
            }

            .nav-links li {
                display: block;
                margin: 10px 0;
                text-align: center;
            }

            h1 {
                font-size: 2rem;
            }

            .buyBox {
                padding: 0.8rem;
                font-size: 0.9rem;
            }

            .buyBox form p {
                padding-right: 0;
                text-align: left;
            }
            .buyBox form input, .buyBox form select {
                width: 90%;
            }
            .buyBox .buttonz button {
                width: 100%;
            }

            .carousel button {
                font-size: 1rem;
                padding: 0.5rem; /*even smoller buttons*/
            }

            .footer-top {
                flex-direction: column;
                gap: 20px;
                padding: 20px;
            }
        }