* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #b1ccc5;
            font-family: "Open Sans", sans-serif;
;
        }

        header {
            font-family: "Open Sans", sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 5%;
            background-color: #b1ccc5;
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        .logo {
            width: 10rem;
            height: auto;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 1.5rem;
        }

        .nav-links li {
            display: inline-block;
            margin: 0 15px;
        }

        .nav-links li a {
            text-decoration: none;
            font-size: 1.25rem;
            color: #2b2b4f;
            transition: color 0.3s ease;
        }

        .nav-links li a:hover {
            color: #121a22;
        }

        .nav-links li a button {
            padding: 0.5rem 1.2rem;
            background-color: #98bdbb;
            border: none;
            border-radius: 6px;
            font-size: 1.25rem;
            color: #E7F2EF;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .nav-links li a button:hover {
            background-color: #698382;
        }

        .footer-top {
            background-color: #2b2b4f;
            color: white;
            display: flex;
            justify-content: center;
            gap: 230px;
            padding: 1.5rem 5%;
        }

        .contact {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }

        .contact-top {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .contact img {
            width: 1.8rem;
            height: 1.8rem;
        }

        .contact .label {
            font-weight: bold;
            font-size: 16px;
        }

        .phoneNumber, .email {
            margin-left: 2.5rem;
            font-size: 0.9rem;
        }

        .introduction {
            display: flex;
            position: relative;
            height: 100vh;
            margin-bottom: 60px;
        }

        .introText {
            position: relative;
            flex: 1;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .introText h1 {
            font-size: 1.6rem;
            margin-bottom: 20px;
            color: #35355f;
        }

        .introText p {
            font-size: 18px;
            line-height: 1.4;
            color: #2b2b4f;
            margin-bottom: 50px;
        }

        .introduction a button {
            padding: 12px 38px;
            background-color: #31303b;
            border: none;
            border-radius: 6px;
            font-size: 20px;
            color: #E7F2EF;
            cursor: pointer;
            box-shadow: none;
            transition: padding 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .introduction a button:hover {
            padding: 22px 48px;
            box-shadow: 0px 10px 10px 4px #65637a;
        }

        .introImg {
            flex: 1;
        }

        .introImg img {
            position: absolute;
            width: auto;
            height: 100%;
            top: 0;
            right: 0;
            object-fit: cover;
            z-index: -1;
        }

        .backupIMG {
            display: none;
            width: auto;
            height: auto;
        }

        .line {
            width: 100%;
            height: 12px;
        }

        .infoSec {
            margin-bottom: 25px;
        }

        .infoContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .infoContainer img {
            width: 40%;
            height: 30%;
            padding-left: 7%;
        }

        .infoText {
            color: #2b2b4f;
            padding: 25px;
            text-align: right;
        }

        .infoText h2 {
            font-weight: bold;
            font-size: 70px;
            margin-bottom: 15px;
        }

        .infoText p {
            font-weight: 500;
            padding: 2% 4%;
            padding-left: 30%;
        }

        h3 {
            text-align: center;
            font-size: 400%;
            color: #2b2b4f;
        }

        .serviceSec {
            display: flex;
            justify-content: space-around;
            text-align: center;
            padding: 50px;
            margin-bottom: 50px;
        }

        .service {
            flex: 1;
            margin: 0 20px;
            max-width: 300px;
            color: #2b2b4f;
        }

        .service img {
            width: 100px;
            height: auto;
            margin: 20px 0px;
        }



        .footer-bottom {
            font-family: "Open Sans", sans-serif;
            background-color: #19183B;
            color: white;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 2rem 1rem;
        }

        .f-AboutUs {
            border-right: 2px solid white;
            padding-right: 1rem;
        }

        .f-AboutUs h2 {
            margin-bottom: 1rem;
        }

        .f-OnlineServices {
            padding: 0 2rem;
        }

        .f-OnlineServices h2 {
            margin-bottom: 1rem;
        }

        .f-OnlineServices ul {
            list-style: none;
        }

        /*Yet even more responsive websiting or styling idk, but I'm doing phone first*/
        @media (max-width: 600px) {
            header {
                flex-direction: column;
                gap: 10px;
                padding: 12px;
            }

            .nav-links li {
                display: block;
                margin: 10px 0;
                text-align: center;
            }

            .introduction {
                flex-direction: column;
                height: auto;
            }

            .introText {
                padding: 20px;
                text-align: center;
            }

            .introText h1 {
                font-size: 20px;
            }

            .introText p {
                font-size: 14px;
                margin-bottom: 30px;
            }

            .introImg img {
                display: none;
            }

            .infoContainer {
                flex-direction: column;
                text-align: center;
            }

            .infoContainer img {
                width: 80%;
                padding: 0;
                margin-bottom: 20px;
            }

            .infoText {
                padding: 10px;
                text-align: center;
            }

            .infoText h2 {
                font-size: 28px;
            }

            .infoText p {
                padding: 0;
                font-size: 14px;
            }

            .serviceSec {
                flex-direction: column;
                align-items: center;
                padding: 20px;
            }

            .service {
                max-width: 100%;
                margin: 20px 0;
            }

            .footer-top {
                flex-direction: column;
                gap: 20px;
                padding: 20px;
            }
        }

        /*tablet(ing)*/
        @media (max-width: 1024px) {
            .introText {
                padding: 30px;
            }

            .introText h1 {
                font-size: 22px;
            }

            .introText p {
                font-size: 16px;
            }

            .infoText h2 {
                font-size: 40px;
            }

            .introImg img:not(.backupIMG) {
                display: none;
            }

            .backupIMG {
                display: flex;
            }

            .serviceSec {
                flex-wrap: wrap;
                gap: 30px;
            }

            .service {
                max-width: 45%;
            }
        }